.ShoppingCart {
  position: fixed;
  top: 5.5rem;
  right: 0;
  bottom: 0;
  z-index: 106;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 46rem;
  background: #fff;
  border-left: 1px solid #e9ebee;
  transform: translate(0, 0);

  &__title {
    padding: 2rem 3rem;
    border-bottom: 1px solid #e9ebee;
    font-size: 1.8rem;
    font-family: 'Barlow Condensed', sans-serif;
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
  }

  &__footer {
    padding: 30px 20px 20px;
    border-top: 1px solid #e9ebee;
  }

  &__button {
    background-color: rgb(30, 48, 110);
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: 'Open Sans';
    font-size: 1.4rem;
    height: 4.4rem;
    text-align: center;
    width: 100%;
    border-style: none;
    border-radius: 0.5rem;
    margin: 2rem 0px 0px;
    padding: 0px 1rem;
    transition: background-color 150ms ease-out 0s;

    &:hover {
      background-color: rgb(82, 102, 153);
    }

    &:disabled {
      opacity: 0.5;
      color: rgb(255, 255, 255);
      background-color: rgb(30, 48, 110);
      cursor: not-allowed;
    }
  }

  &__content_empty {
    padding: 3rem;
    max-width: 80%;
    margin: 4rem auto 0;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 2rem;
  }

  &__total {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_title {
      font-size: 2.4rem;
    }

    &_price {
      font-family: 'Barlow Condensed', sans-serif;
      font-size: 4rem;
      margin-left: auto;
    }
  }

  .OrderItem {
    margin: 0 3rem;
    padding: 2rem 0;
    border-bottom: 1px solid #e9ebee;

    &__title {
      color: rgb(49, 49, 49);
      font-size: 1.8rem;
      font-weight: bold;
      font-family: 'Barlow Condensed', sans-serif;
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 2.4rem;
    }

    &__description {
      color: rgb(122, 133, 141);
      font-size: 1.2rem;
      margin-top: 1rem;
      max-width: 50%;
    }

    &__icon_remove {
      width: 1.8rem;
      cursor: pointer;
    }

    &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 2rem;
    }

    &__actions {
      display: flex;
      border-radius: 0.5rem;
      overflow: hidden;
      box-shadow: rgba(189, 187, 187, 0.5) 0px 0px 0.25rem 0px;

      button,
      div {
        width: 3.2rem;
        height: 3.2rem;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      button {
        cursor: pointer;
      }

      div {
        background-color: #f4f4f4;
      }
    }

    &__price {
      font-size: 1.8rem;
      font-family: 'Barlow Condensed', sans-serif;
    }
  }
}
