.HistoryItem {
  margin: 0 3rem;
  padding: 2rem 0;
  border-bottom: 1px solid #e9ebee;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    color: rgb(49, 49, 49);
    font-size: 1.6rem;
    font-weight: bold;
    font-family: 'Barlow Condensed', sans-serif;
  }

  &__price {
    font-size: 1.8rem;
    font-family: 'Barlow Condensed', sans-serif;
  }
}
