.Checkout {
  display: flex;

  &__container {
    flex: 1;
    min-height: calc(100vh - 5.5rem);
    max-width: calc(100% - 460px);
  }

  form {
    max-width: 37rem;
    margin: 0 auto;
    padding: 3rem 0;

    h2 {
      font-weight: 400;
      font-size: 3rem;
      margin: 0 0 3rem;
    }

    input {
      background-color: rgb(248, 248, 249);
    }

    button[type='submit'] {
      position: relative;

      span {
        position: absolute;
        right: 1.5rem;
      }
    }
  }
}
